<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047220165304-utjvmgm4p57k4dcnurkv1mifbhdldleb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047220165304-utjvmgm4p57k4dcnurkv1mifbhdldleb</string>
	<key>API_KEY</key>
	<string>AIzaSyCLr0J8EBovbralXpVfW6mLnPv6cyY-wEo</string>
	<key>GCM_SENDER_ID</key>
	<string>1047220165304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>innalapteva.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-91f7d</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-91f7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047220165304:ios:4d38d99adf0c91f0b6b24d</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-91f7d.firebaseio.com</string>
</dict>
</plist>